<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/myblog/login/" method="post">
    <!--
    禁止访问错误，post请求会做防盗链检验，
    如果报403错误，加上标签{% csrf_token %}
    -->
    {# {% csrf_token %} #}

    姓名：<input type="text" name="name"><br>
    年龄：<input type="number" name="age"><br>
    验证码：
    <input type="text" name="code" id="code" >
    <img src="{% url 'myblog:create_code_img' %}" alt="" onclick="refresh_check_code(this)"><br>

    <input type="submit" value="登录"><br>
</form>

<!--点击验证码图片，验证码内容变化：-->
<script>
   function refresh_check_code(node){
        node.src = "/myblog/create_code_img/?search = " + Math.random();
    }
</script>


<!--AJAX-->
<button id="user" onclick="">获取单个user</button>
<script src="/static/myblog/js/lib/jquery-2.1.4.js"></script>
<script>
    $(function(){
        $("#user").click(function(){
            $.ajax({
                type:"post",
                dataType:"JSON",
                url:"/myblog/jsontest/",
                success:function(data){
                    alert(data['name'])
                }
            })
        })

    })
</script>
</body>
</html>