<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>订单详情</h3>
用户：{{order.user}}<br>
订单时间：{{order.createTime}}<br>
收货人：{{order.recv_name}}<br>
收货电话：{{order.recv_tel}}<br>
收货地址：{{order.recv_address}}<br>
总金额：{{order.all_price}}<br>
备注：{{order.remark}}<br>

订单编号:{{order.orderitem_set.all.first.good_id}}<br>
商品图片: <img src="/{{order.orderitem_set.all.first.goods_img}}" width="50" alt=""><br>
商品名称:{{order.orderitem_set.all.first.goods_name}}<br>
商品价格:{{order.orderitem_set.all.first.goods_price}}<br>
商品数量:{{order.orderitem_set.all.first.goods_count}}<br>
商品总价:{{order.orderitem_set.all.first.goods_price_all}}<br>
</body>
</html>