{% extends 'base.html' %}

{% block title %}修改用户信息{% endblock %}


{% block contentright %}
<!--右侧主内容-->
<div class="yui3-u-5-6 body">
    <div class="addressList">
        <div class="mt">
            <span class="fl"><strong>修改用户信息</strong></span>
        </div>
    </div>

    <div class="address-detail">
        <div class="addresses">
            <div class="address-item" style="width:900px;height:500px;">
                <div class="smt">
                    <a href="{% url 'users:userinfo' %}" class="pull-right delete">查看个人资料</a>
                </div>

                <div style="float:left;width:150px;">
                    <div class="smc" style="float:left">
                        <div class="item">
                            <span class="fl label"></span>
                            <div class="detail"><img src="/{{user.userinfo.header}}" alt=""
                                                     style="width: 100px;height: 100px;border-radius: 50%;margin: 0 auto;">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div style="float:left;width:750px;">

                    <form action="{% url 'users:userupdate' %}" method="post" id="reg_form"
                          class="sui-form form-horizontal" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p style="color:red;padding-left:200px;">{{msg}}</p><br>
                        <div class="control-group">
                            <label for="inputuserpass" class="control-label">登录账号:</label>
                            <div class="controls">
                                <input type="text" id="inputuserpass" name="username" placeholder="请输入你的登录账号"
                                       class="input-xfat input-xlarge" value="{{user.username}}">
                                <span class="error"></span>
                            </div>
                        </div>

                        <div class="control-group">
                            <label for="inputnickname" class="control-label">用户昵称:</label>
                            <div class="controls">
                                <input type="text" id="inputnickname" name="nickname" placeholder="请输入你的用户昵称"
                                       class="input-xfat input-xlarge" value="{{user.userinfo.nickname}}">
                                <span class="error"></span>
                            </div>
                        </div>
                         <div class="control-group">
                            <label for="inputage" class="control-label">用户年龄:</label>
                            <div class="controls">
                                <input type="text" id="inputage" name="age" placeholder="请输入你的用户年龄"
                                       class="input-xfat input-xlarge" value="{{user.userinfo.age}}">
                                <span class="error"></span>
                            </div>
                        </div>

                          <div class="control-group">
                            <label for="inputgender" class="control-label">用户性别:</label>
                            <div class="controls">
                                <input type="text" id="inputgender" name="gender" placeholder="请输入你的用户性别"
                                       class="input-xfat input-xlarge" value="{{user.userinfo.gender}}">
                                <span class="error"></span>
                            </div>
                        </div>


                         <div class="control-group">
                            <label for="inputphone" class="control-label">联系方式:</label>
                            <div class="controls">
                                <input type="text" id="inputphone" name="phone" placeholder="请输入你的手机号"
                                       class="input-xfat input-xlarge" value="{{user.userinfo.phone}}">
                                <span class="error"></span>
                            </div>
                        </div>



                        <br>

                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls btn-reg">
                                <input type="submit" class="sui-btn btn-block btn-xlarge btn-danger reg-btn"
                                       value="确定修改" style="width:100px;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls btn-reg">
                                <a href="{% url 'users:userinfo' %}" class="sui-btn btn-block btn-xlarge btn-info reg-btn" style="width:100px;">
                                    取消
                                </a>
                            </div>
                        </div>
                    </form>

                    <div class="clearfix"></div>

                </div>


            </div>

        </div>
    </div>
</div>
{% endblock %}