<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>电商首页</title>
    <script src="/static/js/lib/jquery-2.1.4.js"></script>
</head>
<body>
<h3>项目首页面</h3>
<h4><a href="/">网站首页</a></h4>
<h4><a href="{% url 'users:user_login' %}">用户登录</a></h4>
<h4><a href="{% url 'users:user_logout' %}">用户退出</a></h4>
<h4><a href="{% url 'users:register' %}">用户注册</a></h4>
<h4><a href="{% url 'users:userinfo' %}">用户信息</a></h4>
<h4><a href="{% url 'store:add' %}">用户开店</a></h4>
<h4><a href="{% url 'store:list' %}">用户所有店铺信息</a></h4>
<h4><a href="{% url 'shopcart:list' %}">购物车</a></h4>
<h4><a href="{% url 'address:address_list' %}">地址</a></h4>
{% for x in allGoodType %}
    {{x.gt_name}}<br>
    {% for y in x.goodstype_set.all %}
        {{y.gt_name}}
    {% endfor %}<br>
<hr>
    {% empty %}
    当前没有商品，请添加
{% endfor %}
<hr>
{% for goods in goods1_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}
<hr>
{% for goods in goods2_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}


<hr>
{% for goods in goods3_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}


<hr>
{% for goods in goods4_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}



<hr>
{% for goods in goods5_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}




<hr>
{% for goods in goods6_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}




<hr>
{% for goods in goods7_list %}
<img src="/{{goods.goodsimage_set.all.first.path}}" alt="" width="100">


名称：{{goods.name}}<br>
描述：{{goods.intro}}<br>
单价：{{goods.price}}<br>
销量：{{goods.count}}<br>
类型：{{goods.goodstype.gt_name}}<br>
父类型：{{goods.goodstype.parent.gt_name}}<br>
<a href="{% url 'goods:detail' goods.id %}">商品详情</a>
<!--<a href="/shopcart/1/{{goods.id}}/add/">加入购物车</a>-->
<button class="addgoods" goods_id="{{goods.id}}">加入购物车</button>
{% endfor %}
<script>
    $(function(){
        $(".addgoods").click(function(){

            //alert("111")
            //alert($(this).attr("goods_id"))
            var $goods_id = $(this).attr("goods_id")
            $.ajax({
                url: "/shopcart/1/" + $goods_id + "/add/",
                type: "get",
                success: function(msg){
                    alert("加入购物车")
                },
                error:function(){
                    alert("添加失败，请重新添加")
                },
            })

        })
    })
</script>

</body>
</html>